body {
    background-image: url(./img/joe.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .red {
    color: greenyellow;
  }

  .image-food {
    width: 210px;
    height: 210px;
    border-radius: 100px;
  }